<!-- Wrapper END -->
      <!-- Footer -->
      <footer class="bg-white iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Tạo Bởi : Duy Đẹp Trai</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">- with Love -</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  <a href="#">Web Profile của Bé Nị</a>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/dashboard/js/jquery.min.js"></script>
      <script src="/dashboard/js/popper.min.js"></script>
      <script src="/dashboard/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/dashboard/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/dashboard/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/dashboard/js/waypoints.min.js"></script>
      <script src="/dashboard/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/dashboard/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/dashboard/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/dashboard/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/dashboard/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/dashboard/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/dashboard/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/dashboard/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/dashboard/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/dashboard/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/dashboard/js/custom.js"></script>
      <script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
      
      <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>
    
      <script src="/build/toastr.min.js"></script>
   </body>
</html>