<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Trang Quản Lý - KGExpress</title>
      <!-- Favicon -->
      <!-- <link rel="shortcut icon" href="/dashboard/images/favicon.ico">
      <link rel="shortcut icon" href="/dashboard/images/favicon.ico"> -->
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/dashboard/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/dashboard/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/dashboard/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/dashboard/css/responsive.css">

      <link href="/build/toastr.min.css" rel="stylesheet"/>
   </head>
   <body class="sidebar-main-active right-column-fixed">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <!-- <div class="iq-sidebar">
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li>
                        <a href="/add-post" aria-expanded="false"><i class="ri-mail-line"></i><span>Thêm Bài Viết</span></a>
                     </li>
                     <li>
                        <a href="/listpost" aria-expanded="false"><i class="ri-mail-line"></i><span>Danh Sách Bài Viết</span></a>
                     </li>
                     <li>
                        <a href="/add-topic" aria-expanded="false"><i class="ri-focus-2-line"></i><span>Thêm Chủ Đề</span></a>
                     </li>
                     <li>
                        <a href="/listtopic" aria-expanded="false"><i class="ri-focus-2-line"></i><span>Danh Sách Chủ Đề</span></a>
                     </li>
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div> -->